#first:hover{
  background-color: #ff5733;
  color: white;
}

a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
a:active{
  font-style: italic;
  text-decoration: underline;
}

#third:focus{
  border: 2px solid blue;
}

#fourth li:first-child{
  font-weight: bold;
  color: darkred;
  font-size: 20px;
}

table{
  height: 100px;
  width: 400px;
}

table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #ff5733;
}

h2::before{
  content: "*";
}

h2::after{
  content: "!";
}

p{
  width: 50%;
  color: white;
}

p::first-letter{
  font-size: 48px;
  color: red;
}

p::selection{
  background: purple;
  color: white;
}

#nineth{
  height: 50px;
  width: 200px;
  background: linear-gradient(#4facfe, #00f2de);
}

body{
  background-image: url(../ASSETS/spider.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}
